In [1]:
print("hello world")

hello world

In [2]:
#MGBGD Optimizer
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split

In [3]:
d = pd.read_csv('kc_house_data.csv')
print(d)

               id             date     price  bedrooms  bathrooms  \
0      7129300520  20141013T000000  221900.0         3       1.00
1      6414100192  20141209T000000  538000.0         3       2.25
2      5631500400  20150225T000000  180000.0         2       1.00
3      2487200875  20141209T000000  604000.0         4       3.00
4      1954400510  20150218T000000  510000.0         3       2.00
...           ...              ...       ...       ...        ...
21608   263000018  20140521T000000  360000.0         3       2.50
21609  6600060120  20150223T000000  400000.0         4       2.50
21610  1523300141  20140623T000000  402101.0         2       0.75
21611   291310100  20150116T000000  400000.0         3       2.50
21612  1523300157  20141015T000000  325000.0         2       0.75

       sqft_living  sqft_lot  floors  waterfront  view  ...  grade  \
0             1180      5650     1.0           0     0  ...      7
1             2570      7242     2.0           0     0  ...      7
2              770     10000     1.0           0     0  ...      6
3             1960      5000     1.0           0     0  ...      7
4             1680      8080     1.0           0     0  ...      8
...            ...       ...     ...         ...   ...  ...    ...
21608         1530      1131     3.0           0     0  ...      8
21609         2310      5813     2.0           0     0  ...      8
21610         1020      1350     2.0           0     0  ...      7
21611         1600      2388     2.0           0     0  ...      8
21612         1020      1076     2.0           0     0  ...      7

       sqft_above  sqft_basement  yr_built  yr_renovated  zipcode      lat  \
0            1180              0      1955             0    98178  47.5112
1            2170            400      1951          1991    98125  47.7210
2             770              0      1933             0    98028  47.7379
3            1050            910      1965             0    98136  47.5208
4            1680              0      1987             0    98074  47.6168
...           ...            ...       ...           ...      ...      ...
21608        1530              0      2009             0    98103  47.6993
21609        2310              0      2014             0    98146  47.5107
21610        1020              0      2009             0    98144  47.5944
21611        1600              0      2004             0    98027  47.5345
21612        1020              0      2008             0    98144  47.5941

          long  sqft_living15  sqft_lot15
0     -122.257           1340        5650
1     -122.319           1690        7639
2     -122.233           2720        8062
3     -122.393           1360        5000
4     -122.045           1800        7503
...        ...            ...         ...
21608 -122.346           1530        1509
21609 -122.362           1830        7200
21610 -122.299           1020        2007
21611 -122.069           1410        1287
21612 -122.299           1020        1357

[21613 rows x 21 columns]

In [4]:
x_max = d['sqft_living'].max()
x_min = d['sqft_living'].min()
y_max = d['price'].max()
y_min = d['price'].min()
print(x_max,x_min)
print(y_max,y_min)

13540 290
7700000.0 75000.0

In [5]:
for i in d:
    if i!= 'date':
        d[i]=(d[i]-d[i].min())/(d[i].max()-d[i].min())
print(d)
x=np.array(d.iloc[:,5:6])
y=np.array(d.iloc[:,2:3])
print(x)

             id             date     price  bedrooms  bathrooms  sqft_living  \
0      0.720103  20141013T000000  0.019266  0.090909    0.12500     0.067170
1      0.647853  20141209T000000  0.060721  0.090909    0.28125     0.172075
2      0.568795  20150225T000000  0.013770  0.060606    0.12500     0.036226
3      0.251157  20141209T000000  0.069377  0.121212    0.37500     0.126038
4      0.197333  20150218T000000  0.057049  0.090909    0.25000     0.104906
...         ...              ...       ...       ...        ...          ...
21608  0.026467  20140521T000000  0.037377  0.090909    0.31250     0.093585
21609  0.666639  20150223T000000  0.042623  0.121212    0.31250     0.152453
21610  0.153783  20140623T000000  0.042898  0.060606    0.09375     0.055094
21611  0.029327  20150116T000000  0.042623  0.090909    0.31250     0.098868
21612  0.153783  20141015T000000  0.032787  0.060606    0.09375     0.055094

       sqft_lot  floors  waterfront  view  ...     grade  sqft_above  \
0      0.003108     0.0         0.0   0.0  ...  0.500000    0.097588
1      0.004072     0.4         0.0   0.0  ...  0.500000    0.206140
2      0.005743     0.0         0.0   0.0  ...  0.416667    0.052632
3      0.002714     0.0         0.0   0.0  ...  0.500000    0.083333
4      0.004579     0.0         0.0   0.0  ...  0.583333    0.152412
...         ...     ...         ...   ...  ...       ...         ...
21608  0.000370     0.8         0.0   0.0  ...  0.583333    0.135965
21609  0.003206     0.4         0.0   0.0  ...  0.583333    0.221491
21610  0.000503     0.4         0.0   0.0  ...  0.500000    0.080044
21611  0.001132     0.4         0.0   0.0  ...  0.583333    0.143640
21612  0.000337     0.4         0.0   0.0  ...  0.500000    0.080044

       sqft_basement  yr_built  yr_renovated   zipcode       lat      long  \
0           0.000000  0.478261      0.000000  0.893939  0.571498  0.217608
1           0.082988  0.443478      0.988089  0.626263  0.908959  0.166113
2           0.000000  0.286957      0.000000  0.136364  0.936143  0.237542
3           0.188797  0.565217      0.000000  0.681818  0.586939  0.104651
4           0.000000  0.756522      0.000000  0.368687  0.741354  0.393688
...              ...       ...           ...       ...       ...       ...
21608       0.000000  0.947826      0.000000  0.515152  0.874055  0.143688
21609       0.000000  0.991304      0.000000  0.732323  0.570693  0.130399
21610       0.000000  0.947826      0.000000  0.722222  0.705324  0.182724
21611       0.000000  0.904348      0.000000  0.131313  0.608975  0.373754
21612       0.000000  0.939130      0.000000  0.722222  0.704842  0.182724

       sqft_living15  sqft_lot15
0           0.161934    0.005742
1           0.222165    0.008027
2           0.399415    0.008513
3           0.165376    0.004996
4           0.241094    0.007871
...              ...         ...
21608       0.194631    0.000986
21609       0.246257    0.007523
21610       0.106866    0.001558
21611       0.173980    0.000731
21612       0.106866    0.000811

[21613 rows x 21 columns]
[[0.06716981]
 [0.17207547]
 [0.03622642]
 ...
 [0.05509434]
 [0.09886792]
 [0.05509434]]

In [6]:
#Splitting the data into training and testing data
train_x,test_x = train_test_split(x,test_size =0.1)
train_y,test_y= train_test_split(y,test_size =0.1)

In [7]:
m=1
c=1
n=0.001
epochs=100
bs=2
nb = len(train_x)//2

In [8]:
for i in range(epochs):
    batch = 0
    t=0
    while batch < nb:
        h = 0
        gm =0
        gc =0
        while h<bs:
            q = train_y[t]-m*train_x[t]-c
            gm += q*train_x[t]
            gc +=  q
            h =h+1
        gdm = -(gm)/bs
        gdc = -(gc)/bs
        dm = -n*gdm
        dc = -n*gdc
        m = m + dm
        c = c + dc
        batch = batch+1
        t=t+2

In [9]:
#printing final model parametErs(m and c) values  
print("Final updated model parametres m = ",m,"and c =",c)

Final updated model parametres m =  [0.00305058] and c = [0.06122216]

In [10]:
# calculating MSE,RMSE and Mean Absolute Error for Training Data Set
q = 0
q1=0
l1=len(train_x)
for i in range(l1):
    v = m*train_x[i]+c
    z = int(train_y[i])-int(v)
    q = q+z**2
    q1 = q1+abs(z)

In [11]:
mse_train = q/len(train_x)
mae_train = q1/len(train_x)
print("MSE for training data:",mse_train)
print("RMSE for training data:",mse_train**0.5)
print("Mean Absolute Error for trained dataset:",mae_train)

MSE for training data: 5.141123849673539e-05
RMSE for training data: 0.007170163073231695
Mean Absolute Error for trained dataset: 5.141123849673539e-05

In [12]:
#calculating Mean square error,Root mean square error and mean absolute error for testing data set
w =0
w1=0
for i in range(len(test_x)):
    v=m*train_x[i]+c
    z = int(train_y[i])-int(v)
    w += z**2
    w1 +=abs(z)

mse_test = w/len(test_x)
mae_test = w1/len(test_x)
print("MSE for test data:",mse_test)
print("RMSE for testing data:",mse_test**0.5)
print("Mean Absolute Error for testing data:",mae_test)

MSE for test data: 0.0
RMSE for testing data: 0.0
Mean Absolute Error for testing data: 0.0

In [14]:
# Denormalising the data
for i in range(len(x)):
    x[i] = ((x[i]*(x_max-x_min))+x_min)
    y[i] = ((y[i]*(y_max-y_min))+y_min)
print(y[0])
# Deploying model  
x_val =int(input("Enter value of x:"))
x_val = (x_val-x_min)/(x_max-x_min)
y_val = m*x_val+c
y_val = y_val*(y_max-y_min)+y_min
print("House price based on square feet area is: ",int(y_val))

[1.69198758e+12]
Enter value of x:34
House price based on square feet area is:  541369